body {
	font-family: Courier, monospace;
    color: #434343;
	justify-content: center;
    background-color: #ffe7e9;
    margin: 0px 0px 0px 0px;
}
header{
        height:3em;
        background-color:#f0f0f0;
        color:black;
        text-align: left;
        align-items: center;
}

.box1 {
    border-radius: 10px; /* Adjust the value to increase or decrease the roundness */
    border: 1px solid #000; /* Optional: Add border for visual effect */
    padding: 20px; /* Add padding to the box content */

background-color: #d9d9d9ff;
border-width: 2px;
border-color: #595959;
text-align: center;
color: #434343;
width: 50em;
height: 1em;
font-size: 1em;
display: flex;
justify-content: center;
align-items: center;
margin-left: auto;
margin-right: auto;
}
.box1:hover {
    background-color: #595959;
    color: #ffffff;
}

.box2 {
    border-radius: 20px; /* Adjust the value to increase or decrease the roundness */
    border: 1px solid #000; /* Optional: Add border for visual effect */
    padding: 20px; /* Add padding to the box content */
background-color: #434343ff;
text-align: center;
color: white;
text-align: center;
width: 10em;
height: 2em;
font-size: 1em;
display: flex;
justify-content: center;
align-items: center;
margin-left: auto;
margin-right: auto;
}
.box2:hover{
    background-color: #666666ff;
}
.box3 {
text-align: center;
color: #434343;
width: 50em;
height: 1em;
font-size: 1em;
display: flex;
justify-content: center;
align-items: center;
margin-left: auto;
margin-right: auto;
}
.button:hover{
	background-color: #3071a9;
}
.center-image {
    display: block;
    margin: 0 auto;
}

input[type="text"], input[type="number"], input[type="password"], input[type="email"] {
    border-radius: 10px; /* Adjust the value to increase or decrease the roundness */
    border: 1px solid #000; /* Optional: Add border for visual effect */
    padding: 20px; /* Add padding to the box content */

background-color: #d9d9d9ff;
border-width: 2px;
border-color: #595959;
text-align: center;
color: #434343;
width: 50em;
height: 1em;
font-size: 1em;
display: flex;
justify-content: center;
align-items: center;
margin-left: auto;
margin-right: auto; 
}

.box4 {
    border-radius: 10px; /* Adjust the value to increase or decrease the roundness */
    border: 1px solid #000; /* Optional: Add border for visual effect */
    padding: 20px; /* Add padding to the box content */
background-color: #434343ff;
text-align: center;
color: white;
text-align: center;
width: 10em;
height: 2em;
font-size: 1em;
display: flex;
justify-content: center;
align-items: center;
margin-left: auto;
margin-right: auto;
}
.text{
    color:white;
    font-size: 1em;
}

.radios {
    list-style-type: none;
}

.radios input {
    visibility: hidden;
}


.radios label { /* i copied most of this section from box 1 above */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 20px;
    border-radius: 10px;
    background-color: #d9d9d9ff;
    border: 2px solid #595959;
    text-align: center;
    color: #434343;
    width: 50em;
    height: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 1em;
}

.radios label:hover {
    background-color: #6F6F6F;
    color: #ffffff;
}

.radios input:checked + label {
    background-color: #595959;
    color: #ffffff;
}

.question {
    display: none;
    transition: opacity 0.5s;
}

.name-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.fname {
    flex: 1;
    padding-left: 50px;
}

.lname {
    flex: 1;
    padding-right: 50px;
}

.error-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Added to align vertically */
    background-color: #FFCCCC;
    color: #FF0000;
    width: 30vw;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
}
.error-text {
    flex: 1 1 auto;
    font-size: 16px;
    text-align: center;
}
